<!DOCTYPE html>
<html>
  <head>
    <title>CRM App</title>
  </head>
  <body>
    <h2>Welcome to <%=@crm_app_name %>!</h2>
    <div id="total_contacts">
      <b><span id = "total">There are <%=Contact.all.count%> total contacts</span></b>
    </div>
  </body>
</html>
