<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/styles.css'>
    <meta charset="utf-8">
  </head>
  <body>
      <%= yield %>
    <ul>
     <li><a href="/">Main Menu</a></li>
     <li><a href="/contacts">View all contacts</a></li>
     <li><a href="/contacts/new">Add contact</a></li>
    </ul>
  </body>
</html>
