<!DOCTYPE html>
<html>
  <head>
    <title>Create Contact</title>
  </head>

  <body>
    <h1>Add New Contact</h1>
    <p>Please input contact info in the spaces below (First Name, Last Name, Email and Note)</p>
     <form action='/contacts' method='post'>
       <input type='text' name='first_name'>
       <input type='text' name='last_name'>
       <input type='text' name='email'>
       <input type='text' name='note'>
       <input type='submit' value='New Contact'>
     </form>
  </body>
</html>
